extends layout

block link
  link(rel="stylesheet", href="/css/login.css")

block content
  .login-card
    .login-title Sign Up
    form#login-form(action='/auth/join' method='post')
      .input-group
        input#email(type='email' name='email' placeholder='Email address' required autofocus)
      .input-group
        input#username(type='text' name='username' placeholder='Username' required)
      .input-group
        input#password(type='password' name='password' placeholder='Password' required)
      button#login-button.btn(type='submit') 회원가입
      if joinError
        .error-message= joinError