doctype
html
  head
    meta(charset='UTF-8')
    block title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(name="description" content='Note for TIL. 그날그날 배운 것을 기록해보세요.')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='/css/layout.css')
    block link
  body
    header
      .header-container
        a#logo(href="/") TILote
        .header-buttons
          if user && user.id
            button#my-profile.btn(onclick=`location.href='/user/${user.username}'`) My TIL
            button.btn(onclick="location.href='/post'") 새 글
            button.btn(onclick="location.href='/auth/logout'") 로그아웃
          else
            button.btn(onclick="location.href='/login'") 로그인
            button.btn(onclick="location.href='/join'") 회원가입
    .container
      block content