extends layout

block link
  link(rel="stylesheet", href="/css/login.css")

block content
  .login-card
    .login-title Login
    form#login-form(action='/auth/login' method='post')
      .input-group
        input#email(type='email' name='email' placeholder='Email address' required autofocus)
      .input-group
        input#password(type='password' name='password' placeholder='Password' required)
      button#login-button.btn(type='submit') 로그인
      hr
      button#kakao-login.btn(type='button' onclick='location.href="/auth/kakao"') 카카오 계정으로 로그인
      button#google-login.btn(type='button' onclick='location.href="/auth/google"') 구글 계정으로 로그인
      if loginError
        .error-message= loginError