doctype
html
  head
    meta(charset='UTF-8')
    title TILote
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(href='https://fonts.googleapis.com/css2?family=Righteous&display=swap' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css')
    script(src='https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js')
    link(rel='stylesheet' href='/main.css')
  body
    header
      .header-container
        a#logo(href="/") TILote
        .header-buttons
          if user && user.id
            button#my-profile.btn(onclick=`location.href='/${user.id}'`) My TIL
            button.btn(onclick="location.href='/post'") 새 글
            button.btn(onclick="location.href='/auth/logout'") 로그아웃
          else
            button.btn(onclick="location.href='/login'") 로그인
            button.btn(onclick="location.href='/join'") 회원가입
    .container
      section.main-editor
        //- form.post-form(action='/post' method='post')
        .editor-title
          textarea#edit-title(placeholder='제목')
        .editor-tag
          textarea#edit-tag(placeholder='#태그명1 #태그명2')
        .editor
          textarea#md-editor
        .buttons
          button.btn#temp(disabled=true) 임시저장
          button.btn#publish(disabled=true) 등록
          span.title-error 제목을 입력하세요
      section.post-detail
        .private
          input#is-private(type='checkbox' name='private')
          | 나만 보이는 글
        //- form#thumbnail-form(action='/post/img' method='post' enctype='multipart/form-data')
        hr
        .thumbnail-preview
          div 미리보기 이미지
          img#img-preview(src='' alt='미리보기' onerror="this.src='https://www.worldloppet.com/wp-content/uploads/2018/10/no-img-placeholder.png'")
          input#img-url(type='hidden' name='url')
          .preview-buttons
            label#img-label(for='img') 사진 업로드
            input#img(type='file' accept='image/*')
            button.cancel#cancel 취소
        hr
        .description 미리보기 한 줄 요약
          .editor-description
            textarea#edit-description(placeholder='100자 이내')
  script.
    var simplemde = new SimpleMDE({
      element: document.getElementById("md-editor"),
      autofocus: true,
      autoDownloadFontAwesome: true,
      forceSync: true,
      toolbar: ["bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list", "ordered-list", "link", "image", "table", "|", "preview", "guide"],
      placeholder: "Type here...",
      promptURLs: true,
      status: ["lines", "words", "cursor"],
      renderingConfig: {
        singleLineBreaks: false,
        codeSyntaxHighlighting: true
      },
      spellChecker: false,
      styleSelectedText: false,
      shortcuts: {
        "togglePreview": null,
      }
    });
    document.getElementById('temp').addEventListener('click', function() {
      var formData = new FormData();
      var title = document.getElementById('edit-title').value;
      const data = {
        "title": title,
        "content": simplemde.value(),
        "tag": document.getElementById('edit-tag').value,
        "is_private": document.getElementById('is-private').checked 
      }
      var xhr = new XMLHttpRequest();
      xhr.onload = function() {
        if(xhr.status === 200) {
          alert('임시저장 되었습니다.');
        }
        if(xhr.status === 403) {
          alert('로그인이 필요합니다.');
        }
      };
      xhr.open('POST', '/post/temp');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(data));      
    });
    document.getElementById('publish').addEventListener('click', function() {
      var formData = new FormData();
      var title = document.getElementById('edit-title').value;
      const data = {
        "title": title,
        "content": simplemde.value(),
        "tag": document.getElementById('edit-tag').value,
        "is_private": document.getElementById('is-private').checked 
      }
      var xhr = new XMLHttpRequest();
      xhr.onload = function() {
        if(xhr.status === 403) {
          alert('로그인이 필요합니다.');
        } else if(xhr.status === 201) {
          location.href = '/';
        }
      };
      xhr.open('POST', '/post');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(data));
    });
    document.getElementById('img').addEventListener('change', function (e) {
      var formData = new FormData();
      //- console.log(this, this.files);
      formData.append('img', this.files[0]);
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        if (xhr.status === 200) {
          var url = JSON.parse(xhr.responseText).url;
          document.getElementById('img-url').value = url;
          document.getElementById('img-preview').src = url;
          document.getElementById('img-preview').style.display = 'inline';
        } else {
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/post/img');
      xhr.send(formData);
    });
    document.getElementById('cancel').addEventListener('click', function (e) {
      document.getElementById('img-url').value = '';
      document.getElementById('img-preview').src = 'https://www.worldloppet.com/wp-content/uploads/2018/10/no-img-placeholder.png';
    });