.post-container {
  width: 50rem;
  height: 100%;
  padding: 1rem;
}

.post-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.post-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.post-author-image, .comment-author-image {
  display: flex;
  align-items: center;
}

#person-icon {
  color: white;
  background-color: #cccccc;
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.1rem;
}

.post-detail-info, .comment-detail-info {
  margin: 0 0.5rem;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #aaaaaa;
  /* font-weight: bold; */
}

.post-author-name, .comment-author-name {
  font-weight: bold;
  font-size: 0.85rem;
  color: #303337;
}

.post-container img {
  display: block;
  max-width: 100%;
  max-height: 25rem;
  margin: 2rem auto;
  width: auto;
  height: auto;
  object-fit: contain;
}

code {
  background-color: #ececec;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
  font-family: Consolas, Courier, 'New Courier', monospace;
  font-size: 0.9rem;
}

code span {
  font-family: Consolas, Courier, 'New Courier', monospace;
}

.hljs {
  padding: 1rem 1.5rem;
  background-color: #f7f7f7;
}


span {
  display: inline-block;
  /* width: 100%; */
}

a {
  text-decoration: none;
  color: #c166fd;
  word-break: break-all;
}

blockquote {
  /* border: 1px solid #c166fd; */
  margin-left: 0px;
  margin-right: 0px;
  padding: 1rem 1.5rem;
  border-left: 0.2rem solid #c166fd;
  background: #fcf7ff;
  font-weight: bold;
}

blockquote > p {
  margin: 0;
}

.post-tag {
  margin-bottom: 3rem;
}

.tag {
  background-color: #c166fd;
  color: white;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.post-like {
  position: fixed;
  right: 5rem;
  bottom: 2rem;
  
  /* border: 0.1rem solid #c166fd; */
}

.post-like > button {
  border-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #c166fd;
}

.post-like > button:focus {
  outline-style: none;
}

i {
  vertical-align: middle;
}

.top-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-weight: bold;
  background-color: white;
}

.pagination {
  margin-top: 5rem;
  padding-top: 2rem;
  /* border-top: thin solid #cccccc; */
}

.pagination-body {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  position: relative;
  width: 100%;
  /* height: 100%; */
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 7rem;
}

.prev-post {
  position: absolute;
  left: 0;
  width: 20rem;
  padding: 0.5rem;
  height: 4rem;
  background-color: transparent;
  /* border: thin solid #c166fd34; */
  border: thin solid #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.7rem 0 rgba(134, 75, 153, 0.1);
}

.next-post {
  position: absolute;
  right: 0;
  width: 20rem;
  padding: 0.5rem;
  height: 4rem;
  background-color: transparent;
  /* border: thin solid #c166fd34; */
  border: thin solid #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.7rem 0 rgba(134, 75, 153, 0.1);
}

.prev-post:hover, .next-post:hover {
  border-color: #c166fd;
  box-shadow: 0 0 0.7rem 0 rgba(134, 75, 153, 0.3);
}

.prev-post, .next-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 50rem) {
  .prev-post, .next-post {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .next-post > .pagination-info {
    text-align: right;
  }

  .pagination-body {
    height: 9rem;
  }
}

.pagination-arrow {
  margin: 0 0.5rem;
}

.pagination-info {
  margin: 0 0.5rem;
  text-align: left;
  width: 100%;
  height: 3rem;
}

.pagination-title {
  font-weight: bold;
}

.comment-edit-form,
.comment-reply-form,
.comment-edit-enabled .comment-show {
  display: none;
}

.comment-edit-enabled > .comment-buttons .comment-edit-form,
.comment-reply-enabled > .comment-buttons .comment-reply-form {
  display: inherit;
}

.comment {
  padding-top: 0.5rem;
  /* padding-bottom: 0.5rem; */
  /* margin-top: 0.5rem; */
  /* border-bottom: thin solid #303337; */
  width: 100%;
  /* border-radius: 1rem; */
  /* box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.1); */
}

.comment + .comment {
  border-top: thin solid #cccccc;
}

.comment-end + .comment {
  border-top: thin solid #cccccc;
}

.child-comment {
  background-color: #fafafa;
  padding-left: 2rem;
}

.comment-info {
  display: flex;
  flex-direction: row;
}

.comment-content {
  padding: 0.5rem;
}

.comment-buttons {
  padding-bottom: 0.5rem;
}

.comment-buttons a {
  color: #303337;
}

.comment-buttons a:hover {
  color: #c166fd;
}

.comment-buttons span{
  margin: 0 0.3rem;
}

.comment-reply,
.comment-manage,
.comment-manage > form {
  display: inline;
  font-size: 0.75rem;
  font-weight: bold;
}

.comment-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  /* justify-content: space-around; */
}

.comment-form-content {
  width: 90%;
  height: 4rem;
  margin-right: 0.5rem;
  resize: none;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
}

.comment-form button {
  width: 4.5rem;
  border: none;
  padding: 0.5rem;
  background: none;
  font-size: 0.75rem;
  font-weight: bold;
}

/* .comment_buttons a:hover, */
.comment-form button:hover {
  color: #c166fd
}

@media screen and (max-width: 50rem) {
  .post-container {
    width: 100%;
  }

  .child-comment {
    padding-left: 1rem;
  }
}