.main-container {
  /* height: 100%; */
  padding: 0 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  max-width: 50rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: absolute;
  left: 2rem;
  top: 5rem;
  width: 10rem; */
  /* text-align: center; */
  /* width: 100%; */
  /* max-width: 45rem; */
  background-color: #c166fd18;
  border-radius: 1rem;
  margin: 0 1rem;
}

#profile-icon {
  color: white;
  background-color: #c166fd34;
  font-size: 5rem;
  border-radius: 50%;
  /* padding: 0.1rem; */
  margin: 1rem 1rem;
}

.profile-info {
  margin: 1rem;
}

.profile-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #c166fd;
  margin-bottom: 0.5rem;
  /* border-left: 0.2rem solid #727272;
  border-right: 0.2rem solid #727272; */
  
  /* width: 100%; */
  /* max-width: 45rem; */
}

.profile-about {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  /* font-weight: bold; */
}

nav {
  margin: 1rem 0 1rem 0;
  /* padding: 0 2rem; */
  text-align: center;
}

.nav-btn {
  color: #727272;
  padding: 0.2rem 0.5rem;
  border-width: 0 0 0.2rem 0;
  border-color: white;
  margin: 0 0.2rem;
  font-size: 1rem;
  height: 2rem;
  background-color: white;
  /* width: 5rem; */
  border-style: solid;
}

.nav-btn:hover {
  color: #303337;
  border-color: #c166fd;
}

.user-tags {
  /* margin-bottom: 3rem; */
  position: absolute;
  left: 2rem;
  top: 12rem;
}

.tags {
  margin: 0 0 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #c166fd; */
  /* border-bottom: 0.1rem solid #c166fd; */
}

.tag {
  margin: 0.5rem 0;
  border-style: none;
  display: block;
  background: transparent;
}

.tag-name {
  border: 0.1rem solid #c166fd;
  color: #c166fd;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  white-space:nowrap;
}

.tag-num {
  font-weight: bold;
}

.post-detail {
  /* height: 100%; */
  width: 25%;
  margin-left: 1rem;
  /* background-color: #dddddd; */
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.1);
  color: #303337;
  font-size: 1.2rem;
  font-weight: bold;
}

/* .post-detail {
  color: #303337;
  font-size: 1.2rem;
  font-weight: bold;
} */

.btn-selected {
  color: #303337;
  border-color: #c166fd;
}

.tag-selected {
  background-color: #c166fd;
  color: white;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.post-card {
  /* flex: 0 0 50rem; */
  width: 45rem;
  padding: 0.5rem;
}

.post {
  /* margin: 0.5rem; */
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 11rem;
  width: 100%;
  background-color: white;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.1);
  /* border: thin solid #dddddd; */
  /* border-width: thin; */
  text-align: center;
}

.post-right {
  /* margin-left: 1rem; */
  /* min-width: 8rem; */
  width: 40%;
  height: 100%;
  background-color: #dddddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

#post-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media screen and (max-width: 60rem) {
  .post-right {
    display: none;
  }
} */

.post:hover {
  box-shadow: 0.2rem 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.3);
}

.post-left {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 70rem) {
  .user-tags {
    display: flex;
    overflow-x: auto;
    position: static;
    justify-content: center;
    margin-bottom: 1rem;
    max-width: 45rem;
    margin: 0 auto 1rem auto;
  }
  
  .tag{
    display: inline-block;
  }

  .tags {
    display: none;
  }
}

@media screen and (max-width: 55rem) {
  .container {
    display: block;
  }
}

@media screen and (max-width: 36rem) {
  .main-container {
    padding: 0;
  }

  .post-card {
    /* height: 14rem; */
    padding: 0;
    border-bottom: 0.1rem solid #dddddd;
  }

  .post {
    /* height: 13rem; */
    box-shadow: none;
  }

  .post:hover {
    box-shadow: none;
  }

  .post-right {
    display: none;
  }
  
  .user-tags {
    justify-content: left;
  }
}

/* @media screen and (max-width: 25rem) {
  .post-card {
    height: 15rem;
  }

  .post {
    height: 14rem;
  }
} */

.post-top, .post-bottom {
  text-align: left;
  width: 100%;
}

.post-title {
  color: #303337;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.post-content {
  color: #727272;
  font-size: 0.8rem;
  /* font-weight: bold; */
}

.post-info {
  display: flex;
  flex-direction: row;
}

.post-author-image {
  display: flex;
  align-items: center;
}

#post-author-icon {
  color: white;
  background-color: #dddddd;
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.1rem;
}

.post-like {
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #cccccc;
  font-size: 1rem;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  line-height: 95%;
}

#favorite-icon {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.post-detail-info {
  margin: 0 0.5rem;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #aaaaaa;
  /* font-weight: bold; */
}

.post-author-name {
  font-weight: bold;
  font-size: 0.85rem;
  color: #303337;
}

.post-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-btn, .post, .tag:focus {
  outline-style: none;
}

.manage-buttons {
  text-align: right;
  margin-top: 0.5rem;
}

.manage-buttons > .btn {
  height: 1.5rem;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  background-color: white;
}