.main-container {
  /* height: 100%; */
  padding: 0 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  max-width: 50rem;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: absolute;
  left: 2rem;
  top: 5rem;
  width: 10rem; */
  /* text-align: center; */
  /* width: 100%; */
  /* max-width: 45rem; */
  background-color: #c166fd18;
  border-radius: 1rem;
  margin: 0 1rem;
}

.profile-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-thumbnail {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem 1rem;
}

.profile-thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin: 1rem 1rem; */
}

#profile-icon {
  color: white;
  background-color: #c166fd34;
  font-size: 5rem;
  /* border-radius: 50%; */
  /* padding: 0.1rem; */
  /* margin: 1rem 1rem; */
}

.setting-btn {
  border: none;
  background: none;
}

#setting-icon {
  color: #c166fd;
  font-size: 1rem;
  /* border-radius: 50%; */
  /* padding: 0.1rem; */
  margin: 1rem 1rem;
}

.profile-info {
  margin: 1rem;
}

.profile-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #c166fd;
  margin-bottom: 0.5rem;
  /* border-left: 0.2rem solid #727272;
  border-right: 0.2rem solid #727272; */
  
  /* width: 100%; */
  /* max-width: 45rem; */
}

.profile-about {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  /* font-weight: bold; */
}

nav {
  margin: 1rem 0 1rem 0;
  /* padding: 0 2rem; */
  text-align: center;
}

.nav-btn {
  color: #727272;
  padding: 0.2rem 0.5rem;
  border-width: 0 0 0.2rem 0;
  border-color: white;
  margin: 0 0.2rem;
  font-size: 1rem;
  height: 2rem;
  background-color: white;
  /* width: 5rem; */
  border-style: solid;
}

.nav-btn:hover {
  color: #303337;
  border-color: #c166fd;
}

/* .post-detail {
  color: #303337;
  font-size: 1.2rem;
  font-weight: bold;
} */

.btn-selected {
  color: #303337;
  border-color: #c166fd;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.post-card {
  /* flex: 0 0 50rem; */
  width: 45rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.post {
  /* margin: 0.5rem; */
  padding: 0;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  height: 7rem;
  width: 90%;
  background-color: white;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.1);
  /* border: thin solid #dddddd; */
  /* border-width: thin; */
  text-align: center;
}

.post:hover {
  box-shadow: 0.2rem 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.3);
}

.post-left {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 60rem) {
  .post {
    width: 80%;
  }
}

@media screen and (max-width: 55rem) {
  .container {
    display: block;
  }
}

@media screen and (max-width: 36rem) {
  .main-container {
    padding: 0;
  }

  .post-card {
    /* height: 14rem; */
    padding: 0;
    border-bottom: 0.1rem solid #dddddd;
  }

  .post {
    /* height: 13rem; */
    box-shadow: none;
    width: 70%;
  }

  .post:hover {
    box-shadow: none;
  }

  .manage-buttons {
    margin: 0 0 1rem 0;
  }
}

.post-top, .post-bottom {
  text-align: left;
  width: 100%;
}

.post-title {
  color: #303337;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.post-detail-info {
  /* margin: 0 0.5rem;
  padding: 0; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  font-size: 0.75rem;
  color: #bbbbbb;
  text-align: left;
  /* font-weight: bold; */
}

.nav-btn, .post, delete:focus {
  outline-style: none;
}

.delete {
  margin-left: 1rem;
}