* { box-sizing: border-box; }
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: red; */
  height: 3.5rem;
  width: 100%;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.header-container {
  /* background-color: yellow; */
  align-items: center;
  height: 3.5rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 0 1rem;
}

.header-buttons {
  display: inline-block;
}

.buttons {
  margin: 0;
  display: flex;
  list-style: none;
  /* padding-right: 0.5rem */
}

.btn {
  height: 2.5rem;
  padding: 0 0.7rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 1.5rem;
  border-style: none;
  background: #303337;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

#logo{
  font-size:2.5rem;
  text-decoration: none;
  background-color: transparent;
  color: #303337;
  font-family: "Righteous";
  /* margin-left: 0.5rem; */
}

.container {
  height: 100%;
  /* background-color: #F7F7F7; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

/* .login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.login-card {
  width: 20rem; 
  height: 25rem;
  background-color: white;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  /* padding: 2rem; */
}
@media (max-width: 20rem) {
  .login-card {
    width: auto;
  }
}

.login-title {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
}

.input-group > input {
  height: auto;
  padding: 0.5rem 1rem;
  /* border-radius: 1rem; */
  border: 1px soild black;
}

.login-card .btn {
  margin-bottom: 0.5rem;
  width: 12rem;
  height: 2rem;
}

#google-login {
  background-color: #ea4335;
  
}

#kakao-login {
  background-color: #FEE500;
}

.main-content {
  height: 100%;
  width: 100%;
  /* padding: 2rem; */
}

.half {
  display: inline-block;
  width: 50%;
  /* margin: 1rem 0; */
  padding: 1rem 0.5rem;
  /* vertical-align: top; */
}